body {
	font-weight: 700;
	font-family: Courier;
}
	
#section1 {
	/*	 border: 1px solid; */
	display: flex;
	justify-content: space-between;
	height: 500px;
}
	
div[class=request] {
	border-radius: 20px;
	padding: 10px;
	width: 30%;
	height: 100%;
	color: white;
	background-color: #355C7D;
	border: 1px solid;
}
	
input {
	position: relative;
	left: 15px;
	width: 90%;
}

#post_body {
	height: 100px;
}

button {
	height: 40;
	text-align: center;
	position: relative;
	top: 100px;
	left: 45%;
}

#section2 {
/* 	border: 1px solid; */
	height: 500px;
	position: relative;
	top: 50px;
	border-radius: 20px;
	background-color: #C06C84;
	display: grid;
	grid-template-rows: 1fr 1fr 3fr;
/*	 border: 1px solid; */
}

div[class=response] {
	padding: 10px 20px;
	height: 100%;
	color: white;
}

input[id=body_box] {
	height: 60%;
}

/* button[id="post"] {
	position: absolute;
	top: 350px;
	left: 50%;
} */

p {
	padding: 20px;
	margin: 0;
	text-align: center;
}